* {
    margin: 0;
    padding:0;
}

body {
    /*font-family: 'Mulish', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

    /* -- header -- */

.main-wrapper {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.main-header {
    background: #0A2640;
    padding: 1px;
}

.top-nav {
    padding: 56px 0;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.top-menu li {
    margin-left: 40px;
}

.top-menu li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.top-menu li a:hover {
    text-decoration: underline;
}

.btn-log-in {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A2640;
    padding: 8px 40px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

    /* -- our-blog -- */

.our-blog {
    padding: 0 0 166px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #0A2640;
}

.our-blog h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.our-blog h2 {
    margin: auto;
    width: 842px;
    font-size: 64px;
    line-height: 84px;
}

.our-blog p {
    margin: 32px auto auto;
    width: 746px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

    /* -- gallery -- */

.gallery {
    width: 1100px;
    margin: auto;
}

.gallery-conteiner {
    width: 1100px;
    display: grid;
    grid-template-columns: 300px 400px 300px;
    grid-template-rows: repeat(2, 285px);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    margin: -96px 0 0;
}

.gallery-conteiner div img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.photo2 {
    grid-row: span 2;
}

.photo4 {
    grid-column-start: 1;
}

    /* -- our-story --  */

.our-story {
    padding-top: 120px;
    width: 1200px;
    margin: auto;
}

.story-container {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 96px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.h3-blue {
    color: #FFFFFF;
}

h2 {
    padding-top: 12px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}

.landings ul li a ,input::placeholder, .text, .info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
    padding-top: 20px;
}

.our-story p {
    padding-top: 32px;
}

    /* -- our-numbers -- */

.our-numbers {
    width: 100%;
    background-color: #0A2640;
    padding-top: 94px;
    padding-bottom: 96px;
}

.numbers-container {
    margin: auto;
    width: 1000px;
    text-align: center;
}

.numbers-container h2{
    margin: auto;
    width: 842px;
    color: #FFFFFF;
}

.numbers {
    padding-top: 84px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 142px;
    margin: auto;
}

.numbers div span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 56px;
    color: #4FE9A4;
}

.numbers div p {
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}

    /* -- our-team -- */

.our-team {
    padding-top: 96px;
    margin: auto;
    width: 1000px;
}

.team-container {
    width: 800px;
    margin: auto;
}

.team-info {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 470px;
    grid-column-gap: 50px;
    padding-top: 52px;
}

.team-info div{
    border-radius: 24px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name {
    padding-top: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.info {
    padding-top: 12px;
}

    /* -- our-values -- */

.our-values {
    margin-top: 120px;
    width: 100%;
    background-color: #0A2640;
    padding-bottom: 123px;
    padding-top: 122px;
}

.values-container {
    width: 800px;
    margin: auto;
}

.values-container h2 {
    text-align: left;
    color: #FFFFFF;
}

.values-container p {
    color: #F1F1F1;
}

.points {
    width: 810px;
    margin: auto;
}

.point-text{
    display: inline-flex;
    padding-top: 50px;
}

.point-wrapper {
    width: 600px;
    margin-left: 50px;
}

h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #FFFFFF;
}

.point-wrapper p {
    color: #FFFFFF;
    padding-top: 16px;
}

    /* -- call-action -- */

.call-action {
    background-color: #0A2640;
    margin: auto;
    margin-top: 124px;
    margin-bottom: 84px;
    width: 1200px;
    padding-top: 72px;
    padding-bottom: 74px;
    border-radius: 12px;
    background-image: url(./img/BG.svg);
    background-repeat: no-repeat;
}

.call-action h2 {
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    width: 716px;
    padding-bottom: 48px;
}

form {
    margin: auto;
    width: 610px;
}

input {
    width: 334px;
    height: 56px;
    border-radius: 240px;
    border: 2px solid #FFFFFF;
    padding-left: 32px;
    font-size: 20px;
}

input::placeholder {
    color: #000000;
}

form button {
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
    width: 210px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #0A2640;
    margin-left: 24px;
}

    /* -- footer -- */

.footer {
    width: 1200px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 117px;
    display: flex;
    justify-content: space-between;

}

.footer-left {
    width: 300px;
    display: inline-block;
}

.footer-left p, .footer-left span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-top: 40px;
    margin-bottom: 64px;
    color: #777777;
}

.footer-right {
    display: flex;
    width: 642px;
    height: 240px;
    justify-content: space-between;
    margin-right: 60px;
}

.landings ul li {
    width: 170px;
    margin-bottom: 32px;
}

.landings ul {
    list-style: none; 
}

.landings ul li{
    display: flex;
    align-items: center;
}

.landings ul .landings-name{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.landings ul li a{
    text-decoration: none;
    padding-top: 0;
}

.hiring {
    display: inline-block;
    background: #65E4A3;
    border-radius: 120px;
    width: 72px;
    height: 30px;
    margin-left: 15px;
}

.hiring p {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #0A2640;
}